<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://img.freepik.com/free-vector/cinema-film-festival-movie-poster-background_1017-33461.jpg')">
  <div class="container">
  <h1>Create a new <strong>list</strong> !</h1>
  </div>
</div>

<div class="new-lists">
  <div class="new-list">
    <h1>Create a new <strong>list</strong> !</h1>
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name, placeholder: 'Category'  %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
